notebook
git+https://github.com/openai/CLIP.git
torch-encoding==1.2.1
opencv-python==4.7.0.68
imageio==2.23.0
imageio-ffmpeg==0.4.7
pytorch-lightning==1.8.1
altair==4.1.0
timm==0.6.12
tensorboardX==2.2
matplotlib==3.6.2
test-tube==0.7.5
wandb==0.13.7
h5py==3.7.0
cmake==3.14.4
gym==0.22.0
open3d==0.11.2
grad-cam==1.4.6
networkx==2.8.8
mpl_point_clicker==0.3.1
ai2thor==5.0.0
rospkg==1.4.0
pyvisgraph==0.2.1
gdown==4.6.0
